.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#121212, #212b46);
}

.title {
  font-size: 5rem;
  color: #fff;
  animation: flipTitle 2s;
}

@keyframes flipTitle {
  from{
    transform: rotateX(90deg);
  }
  to{
    transform: rotateX(0deg);
  }
}

.containerInput {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.94rem;
  margin: 2.125rem 0;
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
  background-color: transparent;
  border: 0;
  font-size: 1.25rem;
  color: #fff;
  outline: none;
  margin-right: 0.5rem;
}

.containerInput input::placeholder {
  color: #adaaaa;
}

.buttonSearch {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.buttonSearch:hover {
  transform: scale(1.2);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 31.25rem;
  border-radius: 0.5rem;
}

.main h2 {
  margin: 1rem 0;
  font-size: 2.44rem;
}

.main span {
  margin-bottom: 1rem;
  font-weight: bold;
}

@media (max-width: 670px){
  
  .title{
    font-size: 3.5rem;

  }
  .main h2{
    font-size: 1.75rem;
  }
  .main{
    width: 80%;
  }
  .container h1 {
    width: 80%;
    text-align: center;
  }
}